@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
} */

.paymentSec {
    width: 70%;
    /* max-width: 420px; */
    min-height: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    padding: 1rem;
    background-color: var(--secondary-bg);
    border-radius: 10px;
}

.paymentForm {
    /* width: 50%; */
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}