* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono Thin";
}
:root {
  --primary: grey;
  --primary-color: #daa520;
  --secondary-color: #b5aa99;
  --secondary-bg: #ffeecb;
  --secondary-bg-variant: #fffdf6;

  --font-color-primary: #1a1a1a;
  --font-color-secondary: #808080;
  --font-color-positive: #1bd465;

  --transition: all 0.5s ease-in-out;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}
